.contacts {
  position: relative;
  z-index: 99999;
  overflow: hidden;
  background-color: $wc;

  &:before {
    content: '';
    position: absolute;
    max-width: 50%;
    width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
    background-color: $sc;

    @media (max-width: 767.98px) {
      max-width: 100%;
      min-height: 50%;
      bottom: 0;
      top: auto;
    }
  }

  .container-fluid {
    padding: 0;
  }

  &__item {
    @media (max-width: 767.98px) {
      text-align: center;
    }

    &--contacts {
      padding-left: 115px;

      @media (max-width: 400.98px) {
        padding-left: 40px;
        text-align: left;
      }



      ul {
        margin: 0;
        padding: 0;

        li {
          position: relative;

          &:last-child {
            margin-top: 20px;

            @media (max-width: 400.98px) {
              margin-top: 5px;
            }
          }

          a {
            font-family: $skb;
            font-size: 20px;
            color: $bc;
            transition: $trn;

            @media (max-width: 400.98px) {
              font-size: 16px;
            }

            &:hover {
              color: $mc;
            }
          }

          .icon-mobile {
            font-size: 22px;

            @media (max-width: 400.98px) {
              font-size: 18px;
            }
          }

          i {
            position: absolute;
            left: -57.5px;
            top: 0;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-color: $bc;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $sc;

            @media (max-width: 400.98px) {
              width: 20px;
              height: 20px;
              left: -40px;
              font-size: 12px;
              top: 5px;
            }

          }
        }
      }
    }
  }
}
