* {
  margin: 0;
}

html,
body {
  height: 100%;
}



// flex footer
.contentWrap {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    flex: 1 0 auto;
  }
}

// flex footer end



// flex vertical
.flexVertical {
  display: flex;
  align-items: center;
}

// flex verticalend

// flex vertical
// .flexHorizontalEnd {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
// }

// flex verticalend


a {
  transition: all .3s;

  &:hover {
    text-decoration: none;
  }
}

:before,
:after {
  position: absolute;
  content: '';
}
