.intro {
  background-color: $mc;
  min-height: 100vh;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/header/headerSectionPattern.png');
    background-size: contain;
  }

  &__bgImg {
    min-height: 600px;
    max-width: 600px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    img,
    svg {
      width: 100%;
      max-width: 100%;
    }

    svg {
      path {
        fill: $sc;
      }
    }

    &--behind {
      min-height: 775px;
      max-width: 780px;
      z-index: 0;
      svg {
        path {
          fill: rgba(255, 255, 255, 0.11);
        }
      }
    }
  }
}
