.request {
  background-color: $mc;

  .form {
    label {
      display: block;
      margin: 0;
      color: #c1d8fc;
      font-family: $rr;
      font-size: 17px;
      cursor: pointer;

      @media (max-width: 1199.98px) {
        font-size: 16px;
      }
        @media (max-width: 575.98px) {
          font-size: 13px;
        }
    }

    ::-webkit-input-placeholder {
      color: #2a2a2a;
      font-family: $rr;
      font-size: 18px;
    }

    ::-moz-placeholder {
      color: #2a2a2a;
      font-family: $rr;
      font-size: 18px;
    }

    :-moz-placeholder {
      color: #2a2a2a;
      font-family: $rr;
      font-size: 18px;
    }

    :-ms-input-placeholder {
      color: #2a2a2a;
      font-family: $rr;
      font-size: 18px;
    }

    &__input,
    &__textarea {
      height: 54px;
      border: none;
      width: 100%;
      max-width: 100%;
      border-radius: 4px;
      padding-left: 13px;
      margin-bottom: 19px;
      outline: none;
      font-family: $rc;
    }

    &__textarea {
      resize: none;
      padding-top: 14px;
    }

    .form-control {
      min-height: 54px;
      outline: none;
      border-radius: 4px;
      border: none;
      color: #2a2a2a;
      font-family: $rr;
      font-size: 18px;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url('../images/arrow.svg');
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 95% 50%;
      margin-bottom: 19px;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }

      &--sizeForm {
        background-position: 97% 50%;
      }
    }

    &__btnWrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }



  .btn {
    max-width: 245px;
    width: 100%;
    min-height: 65px;
    text-transform: uppercase;
    color: $bc;
    font-family: $rm;
    font-size: 20px;
    margin: auto;
    background-color: $sc;
    border: 1px solid $sc;
    color: $bc;
    transition: $trn;
    position: relative;
    overflow: hidden;
    text-align: center;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .3));
      transform: skewX(-25deg);
    }

    &:hover {
      background: none;
      color: $wc;

      &:before {
        animation: shine .9s;
      }
    }
  }
}
