@import "mixins/rem";

$mc: #2e66bb;
$sc: #e4a228;
$wc: #fff;
$bc: #000;
$trn: all .3s ease-out;

$rc: 'RobotoCondensed';
$rr: 'RobotoRegular';
$rl: 'RobotoLight';
$rm: 'RobotoMedium';
$rb: 'RobotoBold';
$skb: 'SitkaBold';
$ab: 'AbrilBlack';
